@font-face {
    font-family: 'sagaksagak';
    src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Beomdolee/sagaksagak.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'sagaksagak' !important;
}

h1 {
    text-align: center;
}

body {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

svg {
    cursor: pointer;
}

#div-todolist-wrapper {
    width: 100%;
    height: 100%;
}

#div-todolist {
    width: 500px;
    height: 600px;
}

#div-todolist, #div-todolist {
    padding: 20px;
}

#text {
    width: 400px;
    display: inline-block;
}

#btn-del {
    margin: 10px 0 0 10px;
}